article-item .image-wrap
/*EN ESTA HOJA SE INDICAN LOS ESTILOS CSS A CONFIGURAR PARA QUE LA WEB TENGA EL
ASPECTO DE LA PRÁCTICA
CADA BLOQUE DE COMENTARIO CORRESPONDE CON UN SELECTOR Y BLOQUES A CREAR O CUMPLIMENTAR
*/

/* BODY
Para el body se definirán los siguientes estilos:
margen y padding: 0px. 
Texto centrado.
Fuentes:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 */
    

/* HEADER
Estilos de la cabecera:
Ocupará el 100% del ancho. 80px de alto
Color de fondo blanco
Tendrá un borde inferior de 1px color #ccc
 */


/*La clase center definirá un ancho del 85% y el margen se definirá para que se centre automáticamente*/


/*La clase clearfix se utiliza para limpiar los elementos flotados */


/* Cumplimenta y añade las propiedades css que necesites para el logo 
  El logo ocupa un 30% del ancho de la cabecera*/
#logo {
    font-size: 1.5em;
    margin-top: 20px;
}

/* Cumplimenta y añade las propiedades css que necesites para la imagen del logo */ 
#logo img {
    height: 60px;
    margin: 
}

#ejemplo {
    margin-left: 10px;
}

/* MENU:  El menú ocupa un 70% del ancho de la cabecera*/

#menu{
     font-size: 18px;
}

#menu ul{
    line-height: 45px;
}
/*
Los elementos de la lista del menú: 
no tendran viñetas
el alto será de 45px 
los márgenes derecho e izquierdo de 15px
 */

 
/*Los enlaces del menú de navegación no se mostrarán subrayados y el color será #444 */


/*Cuando se pase el ratón por los enlaces del menú de navegación el color cambiará a #3cb2d3 */

/* SLIDER. Propiedades:
color blanco
Ancho 100%
Alto 150px
El color del fondo será: rgba(73,155,234,1)
Sombra del texto: sombra horizontal y vertical 0px, blur: 5px, color de la sombra: #444
*/

/*El texto del slider:
Margen superior:0px, Espacio entre el contenido y el borde 0px, excepto el superior que es de 60px.
Texto centrado
*/

/*Cumplimenta #content */
#content{
    width: %;     
}

.subheader{
    font-size: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* Cumplimenta #sidebar. El margen de la izquierda será de 20px */
#sidebar{
    width: 25%; 
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}
/*El título 3 de la clase sidebar-item:
Margen de 0px
Espacio entre el contenido y el borde inferior de 10px,
El borde inferior se mostrará con un tamaño de 3px y color #eee (observa la línea después del título 3) */

.sidebar-item .btn{
    margin: auto; 
    margin-top: 10px;
}
/*BOTONES:
Cumplimenta y añade lo que necesites para los botones se muestren como en la captura
No tiene bordes
No aparece subrayado..
El cursor por defecto de la clase btn será la ?    */
.btn{
   display: 
   background: black; 
   color: white;
   padding: 15px; 
   font-weight: bold;
   font-size: 14px;
   max-width: 120px;
}
/*
La clase btn-success:
El cursor  será la mano
Cuando se pasa el ratón por encima, el color de fondo del botón será negro
 */
.btn-success{
    background: rgb(23, 150, 19);

}

.btn-success:hover{
    background:black;
}
/* Escribe el selector necesario para que los input de tipo texto tendrán las siguientes propiedades: */
{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
}

/*Cuando los input de tipo texto tengan el foco, el color de fondo cambiará a: #ee9  */

.article-item{
    /*alinear el texto a la izda */
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

.article-item .image-wrap {
    /*Si la imagen se desborda, se recorta*/
    width: 130px;
    height: 80px;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    width: 100%;
}

.article-item h2{ /*cumplimenta...*/
    display: ;
    width:100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{ /*cumplimenta...*/
    display: ;
    width: 100%;
    color: rgb(122, 122, 122);
}

.article-item a{ /*cumplimenta... El enlace no aparecerá subrayado*/
    display: ;
    color: #444;
    margin-top: 10px;
}
/*Cuando se pasé el ratón por encima del enlace de article-item se mostrará subrayado */



#footer{
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin-top:20px;
    color: #444;
}